files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/hide_passenger_version.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      sudo rm /etc/init.d/passenger; sudo mv /var/app/current/passenger /etc/init.d/passenger
      sudo chmod 777 /etc/init.d/passenger
      sudo /etc/init.d/passenger restart