files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/hide_passenger_version.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      rm /etc/init.d/passenger; mv /var/app/current/passenger /etc/init.d/passenger
      chmod 755 /etc/init.d/passenger
      /etc/init.d/passenger restart